<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'tweets'}}Twitter{{/link-to}}</li>
    </ul>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
