<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <li>{{#link-to ''}}News{{/link-to}}</li>
      <li>{{#link-to ''}}Entertainment{{/link-to}}</li>
      <li>{{#link-to ''}}Sports{{/link-to}}</li>
      <li>{{#link-to ''}}Oddness{{/link-to}}</li>
    </ul>
  </nav>
  {{outlet}}
</div>
