<h1>Tweets</h1>

<form class="form" role="form">
  <div class="form-group">
    <label for="tweet">Tweet:</label>
    {{input id="tweet" class="form-control" value=tweet maxlength="140"}}
  </div>
  <button class="btn btn-success" {{action 'save'}}>Tweet!</button>
</form>
<hr>
{{#each}}
  <div class="row well">
    <span>{{#link-to 'tweet' this.id}} {{tweet}} {{/link-to}}</span>
  </div>
{{/each}}
